<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="fr.ocelet.p3x.application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="fr.ocelet.p3x.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%perspective.name"
            class="fr.ocelet.p3x.Perspective"
            id="fr.ocelet.p3x.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.ui.navigator.CommonNavigator"
            fastViewWidthRatio="0.15"
            id="fr.ocelet.p3x.views.Navigator"
            name="Projects"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="fr.ocelet.p3x.cmdcat"
            name="OceletCmd">
      </category>
      <command
            categoryId="fr.ocelet.p3x.cmdcat"
            defaultHandler="fr.ocelet.p3x.handlers.NewProject"
            id="fr.ocelet.p3x.newocltproject"
            name="New Ocelet Project">
      </command>
      <command
            defaultHandler="fr.ocelet.p3x.handlers.RunSim"
            id="fr.ocelet.p3x.runsim"
            name="Run Simulation">
      </command>
      <command
            categoryId="fr.ocelet.p3x.cmdcat"
            defaultHandler="fr.ocelet.p3x.handlers.ImportModel"
            id="fr.ocelet.p3x.import"
            name="Import Ocelet Project">
      </command>
      <command
            defaultHandler="fr.ocelet.p3x.handlers.ExJarGen"
            id="fr.ocelet.p3x.exjar"
            name="Export to jar">
      </command>
      <command
            categoryId="fr.ocelet.p3x.cmdcat"
            defaultHandler="fr.ocelet.p3x.handlers.SaveModel"
            id="fr.ocelet.p3x.savemodel"
            name="Save Model">
      </command>
      <command
            categoryId="fr.ocelet.p3x.cmdcat"
            defaultHandler="fr.ocelet.p3x.handlers.ShowGradients"
            id="fr.ocelet.p3x.gradients"
            name="Show Gradients">
      </command>
      <command
            categoryId="fr.ocelet.p3x.cmdcat"
            defaultHandler="fr.ocelet.p3x.handlers.ShowColorDialog"
            id="fr.ocelet.p3x.color"
            name="Color Dialog">
      </command>
      <command
            defaultHandler="fr.ocelet.p3x.handlers.ShowAboutOmp"
            id="fr.ocelet.p3x.about"
            name="About dialog">
      </command>
   </extension>
    <!---extension point="org.eclipse.ui.editors">
   </extension-->   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="aoclt.filemenu"
               label="File">
            <command
                  commandId="fr.ocelet.p3x.newocltproject"
                  icon="icons/square16/gif/new_proj.gif"
                  label="New Ocelet project"
                  style="push">
            </command>
            <command
                  commandId="fr.ocelet.p3x.import"
                  icon="icons/square16/png/import_project.png"
                  label="Import Ocelet Project"
                  style="push">
            </command>
            <command
                  commandId="fr.ocelet.p3x.exjar"
                  label="Export to jar"
                  style="push">
            </command>
            <separator
                  name="fr.ocelet.p3x.file_sep"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  icon="icons/square16/png/exit.png"
                  label="Exit">
            </command>
         </menu>
         <menu
               label="Model">
            <command
                  commandId="fr.ocelet.p3x.runsim"
                  icon="icons/square16/png/execute.png"
                  label="Run simulation"
                  style="push"
                  tooltip="Run the simulation of the selected model">
            </command>
            <command
                  commandId="fr.ocelet.p3x.savemodel"
                  icon="icons/square16/png/save_model.png"
                  label="Save Model"
                  style="push">
            </command>
         </menu>
         <menu
               label="Colors">
            <command
                  commandId="fr.ocelet.p3x.gradients"
                  icon="icons/square16/png/grads.png"
                  label="Show Gradients"
                  style="push">
            </command>
            <command
                  commandId="fr.ocelet.p3x.color"
                  icon="icons/square16/png/cols.png"
                  label="Color chooser"
                  style="push">
            </command>
         </menu>
         <menu
               label="About">
            <command
                  commandId="fr.ocelet.p3x.about"
                  label="Ocelet Modelling Platform"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="fr.ocelet.p3x.octoolbar">
            <command
                  commandId="fr.ocelet.p3x.newocltproject"
                  icon="icons/square16/gif/new_proj.gif"
                  label="New Ocelet Project"
                  style="push">
            </command>
            <command
                  commandId="fr.ocelet.p3x.import"
                  icon="icons/square16/png/import_project.png"
                  label="Import Ocelet Project"
                  style="push">
            </command>
            <separator
                  name="fr.ocelet.p3x.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="fr.ocelet.p3x.savemodel"
                  icon="icons/square16/gif/save_model.gif"
                  label="Save the project"
                  style="push">
            </command>
            <command
                  commandId="fr.ocelet.p3x.runsim"
                  icon="icons/square16/png/execute.png"
                  label="Run simulation"
                  style="push">
            </command>
            <separator
                  name="fr.ocelet.p3x.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="fr.ocelet.p3x.gradients"
                  icon="icons/square16/png/grads.png"
                  label="Show gradients"
                  style="push">
            </command>
            <command
                  commandId="fr.ocelet.p3x.color"
                  icon="icons/square16/png/cols.png"
                  label="Color chooser"
                  style="push">
            </command>
            <separator
                  name="fr.ocelet.p3x.separator3"
                  visible="true">
            </separator>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         id="product_e3"
         point="org.eclipse.core.runtime.products">
      <product
            application="fr.ocelet.p3x.application"
            name="Ocelet Modelling Platform">
         <property
               name="windowImages"
               value="icons/window/alt_window_16_32bit.gif,icons/window/alt_window_32_32bit.gif,icons/window/alt_window_48_32bit.gif,icons/window/alt_window_64_32bit.gif,icons/window/alt_window_128_32bit.gif">
         </property>
         <property
               name="aboutText"
               value="Ocelet Modelling Platform - www.ocelet.fr">
         </property>
         <property
               name="startupForegroundColor"
               value="71918D">
         </property>
         <property
               name="startupProgressRect"
               value="15,245,425,14">
         </property>
         <property
               name="startupMessageRect"
               value="17,224,445,20">
         </property>
         <property
               name="appName"
               value="Ocelet Modelling Platform">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.eclipse.jdt.internal.ui.browsing.ProjectAndSourceFolderContentProvider"
            icon="icons/square16/gif/file_proj.gif"
            id="fr.ocelet.p3x.ocltnav"
            name="%navigatorContent.name">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
            </or>
         </enablement>
         <actionProvider
               class="org.eclipse.ui.internal.navigator.resources.actions.EditActionProvider">
         </actionProvider>
         <actionProvider
               class="org.eclipse.ui.internal.navigator.resources.actions.PropertiesActionProvider">
         </actionProvider>
         <actionProvider
               class="org.eclipse.ui.internal.navigator.resources.actions.RefactorActionProvider">
         </actionProvider>
      </navigatorContent>
      <commonFilter
            activeByDefault="false"
            description="%commonFilter.description"
            id="fr.ocelet.p3x.views.Navigator.commonFilter.onlyJavaOclt"
            name="%commonFilter.name.0"
            visibleInUI="true">
         <filterExpression>
            <not>
               <or>
                  <instanceof
                        value="org.eclipse.core.resources.IProject">
                  </instanceof>
                  <and>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <test
                           property="org.eclipse.core.resources.name"
                           value="*.oclt">
                     </test>
                  </and>
                  <and>
                     <instanceof
                           value="org.eclipse.core.resources.IFolder">
                     </instanceof>
                     <test
                           property="org.eclipse.core.resources.name"
                           value="oclt">
                     </test>
                  </and>
                  <and>
                     <instanceof
                           value="org.eclipse.core.resources.IFolder">
                     </instanceof>
                     <test
                           property="org.eclipse.core.resources.name"
                           value="datafacer">
                     </test>
                  </and>
                  <and>
                     <instanceof
                           value="org.eclipse.core.resources.IFolder">
                     </instanceof>
                     <test
                           property="org.eclipse.core.resources.name"
                           value="output">
                     </test>
                  </and>
               </or>
            </not>
         </filterExpression>
      </commonFilter>
   </extension>
<extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="fr.ocelet.p3x.views.Navigator">
         <popupMenu
               allowsPlatformContributions="true"
               id="org.eclipse.ui.navigator.PopupMenu">
            <insertionPoint
                  name="group.new">
            </insertionPoint>
            <insertionPoint
                  name="group.edit">
            </insertionPoint>
            <insertionPoint
                  name="group.reorganize">
            </insertionPoint>
            <insertionPoint
                  name="group.open">
            </insertionPoint>
            <insertionPoint
                  name="group.openWith">
            </insertionPoint>
            <insertionPoint
                  name="group.search">
            </insertionPoint>
            <insertionPoint
                  name="group.build">
            </insertionPoint>
            <insertionPoint
                  name="group.port">
            </insertionPoint>
            <insertionPoint
                  name="group.properties" separator="true">
            </insertionPoint>
            
            
         </popupMenu>
      </viewer>
      <viewerContentBinding
            viewerId="fr.ocelet.p3x.views.Navigator">
          <includes>
       	     <contentExtension pattern="org.eclipse.ui.navigator.resourceContent" />		       	      
	         <contentExtension pattern="org.eclipse.ui.navigator.resources.filters.*"/>
          </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="fr.ocelet.p3x.views.Navigator">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="fr.ocelet.p3x.navigator.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.EditActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.OpenActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.actions.RefactorActionProvider">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*Actions">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <dragAssistant
            class="org.eclipse.ui.navigator.resources.ResourceDragAdapterAssistant"
            viewerId="fr.ocelet.p3x.views.Navigator">
      </dragAssistant>
   </extension>
</plugin>
